/* ============================= understanding============================== */
.max-w-806 {
  max-width: 806px;
}

.img-box1 {
  width: 96px;
  height: 88px;
  border-radius: 10px;
  background-color: var(--color-lightpurple);
}

.box-understd {
  min-height: 446px;
  border-radius: 11.9px;
  box-shadow: 0px 31px 73.8px 0px #00000033;
  padding: 30px 12px 0px 12px;
  border: 1px solid transparent;
  transition: all .3s linear;
}

.box-understd:hover {
  border-color: #140865;
}

.text-balance {
  text-wrap: balance;
}

.ellipse1 {
  background: var(--color-skyblue);
  width: 238.22px;
  height: 97.73px;
  bottom: -28% !important;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(100px);
  opacity: 0.4px;
}

.max-w-989 {
  max-width: 989px;
}

.btn-common {
  background-color: var(--color-skyblue);
  padding: 21.5px 34px;
  color: white;
  border-radius: 132px;
  text-wrap: nowrap;
  border: 1px solid white;
  box-shadow: 0px 4px 53.2px 0px #553AF594;
  transition: all .3s ease-in-out;
}

.btn-common:hover {
  background-color: white;
  color: #140865;
  border-color: #140865;
}

.blue-circle {
  background-color: var(--color-skyblue);
  width: 65px;
  height: 65px;
  border-radius: 100%;
  box-shadow: 0px 9.03px 33.86px 0px #00000069;
}

.timeline-img {
  width: 71% !important;
  left: 15%;
  top: 50px;
  z-index: -1;
}

.max-w-190 {
  max-width: 190px;
}

.max_w_324 {
  max-width: 324px;
}

.bg-staticks {
  background-color: #eaeaea;
  min-height: 614px;
}

.img-static {
  height: 556px;
}

.max-w-921 {
  max-width: 921px !important;
}

.blurimg {
  filter: blur(10px);
  position: absolute;
}

/* =====================================benefits-=========================== */
.bg-benefit {
  background-image: url('../src/assets/images/png/2ndsectionimg.png');
  background-repeat: no-repeat;
  overflow: hidden;
  background-color: #0D0C19;
  background-size: cover;
  background-position: top;
}

.pt-248 {
  padding-top: 178px;
}

.pb_135 {
  padding-bottom: 55px;
}

.glow {
  width: 151.64px;
  height: 151.64px;
  background: #553AF599;
  filter: blur(50px);
  opacity: 70%;
}

@media (min-width:576px) {

  .mx-sm-12 {
    margin-right: -12px !important;
    margin-left: -12px !important;
  }

  .blue-circle {
    width: 75px;
    height: 75px;
  }

  .lh-76 {
    line-height: 76px;
  }

  .lh-24 {
    line-height: 24.2px;
  }

  .lh-25 {
    line-height: 25.6px;
  }

  .lh-32 {
    line-height: 32px;
  }

  .lh-57 {
    line-height: 57px;
  }
}

@media (min-width:768px) {
  .blue-circle {
    width: 88px;
    height: 88px;
  }

  .pt-248 {
    padding-top: 248px;
  }

  .pb_135 {
    padding-bottom: 135px;
  }
}

@media (min-width:992px) {
  .timeline-box {
    height: 317px;
  }
}

@media (min-width:1140px) {
  .max-w-container {
    max-width: 1140px !important;
  }

  .col_xlg_4 {
    width: 33.33% !important;
  }
}

@media (min-width:1600px) {
  .max-w-container {
    max-width: 1320px !important;
  }

  .pt-248 {
    padding-top: 300px;
  }
}